/*
        ⠀⠀⠀⠀⠀⠀⠀⠀⣴⢦⠀⠀⣠⠴⠒⠛⢋⣠⠴⢝⠒⠤⢄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⢹⠈⣶⠏⠀⢠⡴⠞⡉⠀⢀⡠⠷⠤⢀⣀⠈⠑⠲⢤⡀⢠⢶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠘⣇⠘⡄⢀⣿⢀⠎⢠⠔⠉⠀⠀⠀⠀⠀⠉⠙⠲⢤⣹⣏⡎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⢠⠏⢹⣀⣸⢾⣿⣨⢠⠃⠀⠀⠀⠀⠀⠈⢣⠀⢢⡀⠀⠙⣟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⢀⡏⠀⣞⢹⣇⠈⡸⣿⣿⠀⠀⣠⠀⠀⠀⠀⠀⡇⠀⢱⠀⠀⢸⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⡜⠀⠀⣿⠘⣿⡄⣷⣿⣿⣤⡀⡇⢀⣿⢀⣠⢶⣧⣴⣿⣢⠄⣸⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⢰⠃⠀⠀⢿⣇⠿⣧⣼⣿⠙⡟⢻⢿⣿⣿⣽⡵⠛⠋⠙⠛⣿⣿⡟⠧⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⡞⠀⠀⢠⠈⣇⢀⣇⠘⡿⠀⣇⣿⣿⣿⣿⣿⠛⠂⠀⢰⣿⣿⡿⡏⠒⢤⡈⠓⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⡇⠀⠀⡜⠀⠸⡟⠯⠼⡇⢀⣧⣄⣻⠛⠋⠉⠀⠀⠀⠉⠛⢻⣧⠙⣤⠴⢛⠒⠒⠛⠒⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⢠⡇⡇⢀⣣⠀⠀⢹⣦⠔⠁⢸⠙⠛⠋⣁⡀⠀⠀⠀⠀⡀⠀⣙⡿⠋⣡⠖⢁⡠⠤⠬⢍⣉⣻⡄⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠘⡇⡇⣸⡟⠀⠀⡏⠙⣷⣶⣧⠀⠺⡿⠋⠀⠀⠀⠻⠿⣋⣀⡿⢷⣌⣠⣞⣡⠤⠒⢦⠄⠀⠈⢳⡀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⢹⣹⠃⠀⡜⠀⠀⢹⡈⢻⣧⡀⠀⠀⠐⠒⢺⣿⡟⢫⣿⠀⠠⠀⢏⠈⢣⡀⠀⠀⢱⠀⠀⠈⣇⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⡄⢈⠏⠀⡸⠁⠀⠀⡄⢳⣘⣿⣹⣷⠦⠤⠤⠤⣄⣴⣿⣎⠀⠀⡆⢸⡀⠀⠻⡀⠀⠸⠀⠀⠀⢸⡀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⣴⣡⡾⠀⢠⠇⠀⠀⠀⡆⢸⣿⣿⡿⠉⠀⢀⣤⣤⣀⠉⠻⣿⣄⠀⠑⡌⢷⡀⠀⣙⠦⣄⡀⠀⠀⠀⢷⡀⠀⠀⠀⠀
        ⠀⠀⣠⡾⠋⣿⠁⠀⡜⠀⠀⠀⠀⡇⣸⣿⣿⠁⠀⠀⣸⣿⣋⣹⡇⠀⠈⢻⣿⣦⢸⡄⢣⠀⠘⢒⡾⡆⠀⠀⠀⠸⣿⣦⡀⠀⠀
        ⠀⣴⡟⠁⡜⢸⠀⢠⠃⠀⠀⠀⠰⣵⢿⠃⢸⡀⣀⠀⠈⠉⠈⠉⠀⠀⠀⠀⢻⣿⣿⣧⣾⣆⠀⢼⠻⠿⣀⣀⣀⡤⠿⠛⡇⠀⠀
        ⣸⡟⠀⢰⠁⡞⠀⢸⠀⠀⠀⠀⣼⠏⢸⠀⠀⣿⣍⡉⠉⠒⠦⢤⣀⠀⣀⠤⠞⢙⣍⣿⣿⣿⣍⡻⡆⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀
        ⡇⡇⠀⡇⢸⣧⠀⡆⠀⠀⠀⠀⡏⠀⢸⠀⠀⠘⣷⠀⠈⠉⠐⢢⡬⢉⡤⠒⠊⠉⠉⢿⣬⢿⣳⣍⠓⢦⣤⢤⡤⠴⡒⠛⣇⠀⠀
        ⠉⢷⣸⠀⡟⢸⠀⡇⠀⠀⠀⢰⠁⠀⠘⡇⠀⠀⠹⢷⡀⡀⢀⣿⡾⡁⠀⠀⠓⢄⠀⠀⠙⢷⣄⠈⠠⡀⠘⢦⠘⡀⠘⡄⠸⡄⠀
        ⠀⠀⢹⡇⡇⢸⢻⣿⠀⠀⠀⢸⠀⠀⠀⢧⠀⠀⠀⠀⠉⠳⣾⣿⡇⠈⠢⡀⠀⠀⠑⢄⠀⠀⠙⢷⣄⢳⠀⢸⠀⢃⠀⢸⠀⢷⠀
        ⠀⠀⠀⢻⣧⡘⢇⢻⣦⡀⢸⡀⣷⡀⠀⠈⢧⡀⠀⠀⠀⠀⠈⡟⠻⣧⡀⠈⠳⢄⠀⠀⠁⠆⠀⠀⠙⠻⣄⣸⠃⢸⠀⠀⠀⠘⡇
        ⠀⠀⠀⠀⢻⣷⠈⢆⠻⣿⢦⣣⠘⡌⠢⡀⠀⠻⣦⡀⠀⢀⡞⠀⠀⠀⠉⠲⢄⠀⠑⠤⢀⡀⠀⠈⠒⢤⡈⢿⣤⣸⠀⠀⠀⠀⢳
        ⠀⠀⠀⠀⠀⢻⠀⠀⠑⢮⡛⢿⣧⡈⠀⠄⠉⠒⢼⣿⣦⣸⠁⠀⠀⠀⠀⠀⠀⠙⠢⣄⠀⠈⠑⢄⠀⠀⠑⠄⠙⠿⣄⠀⠀⠀⢸
        ⠀⠀⠀⠀⠀⡾⠀⠀⠀⠀⠹⡔⢿⡩⡦⡄⠀⠀⠀⢻⣾⠻⣦⡀⠀⠀⠀⠀⠀⠀⡞⢻⠗⢦⡀⠀⠳⡀⠀⠀⢀⡀⠈⠻⣄⢀⡇
        ⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠹⠈⡟⠞⢌⠢⠀⠀⠀⢿⡆⠈⠻⣷⣄⣀⡀⠀⢰⣇⣾⠀⠀⠙⣶⣀⠙⠦⣤⠀⠉⠒⢄⠈⣻⣄ */

body{
    background-color: #4f76c5;
}

.divmestra img{
    margin-top: 2%;
    margin-left: 64%;
}

/*
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠠⢈⣀⣤⣴⣶⣶⣶⣶⣦⣤⣄⣀⡀⠀⠀⠀⠀⠰⠠⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠄⣀⣴⠾⠿⠛⠛⠛⠙⠋⠛⠛⠻⠿⠿⣿⣿⢷⡦⣅⠐⠀⠀⠈⠐⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡴⠕⠊⠉⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⢝⣧⢛⠦⣄⠀⠀⠀⠑⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⠋⠁⠀⠠⠀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢺⣽⣞⡷⣄⠀⠁⠀⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡔⠁⠀⠀⠀⠀⠰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠈⠀⠀⠀⠀⠘⢿⣿⣿⣧⠀⠀⠀⠘⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠎⠀⠀⠀⠀⢀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣆⠀⠀⠀⠙⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⠈⡎⠀⠐⠀⡀⡰⢁⠐⠱⡀⠠⠀⠀⠁⠄⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⣿⡖⡀⠀⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⢀⠐⡀⠄⢀⠆⠀⠀⣿⠐⠀⠁⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣷⠐⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀
            ⠉⠀⠀⠀⠀⠀⠀⠀⠀⠠⠗⡀⠆⠀⠀⢸⠀⠀⣼⣾⡀⠀⠂⢂⠀⠀⠀⠀⠀⡐⠢⢀⠀⡀⠈⠠⡀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡌⠀⠀⠀⠘⡀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⡾⠀⢱⠀⠀⠀⢸⠀⠀⣿⣿⣇⠀⠀⠉⢤⡀⠀⠀⠀⠀⠀⠀⣿⡔⡠⢀⠀⠀⡀⠀⠐⠆⠀⠀⢸⡜⠅⠀⠀⠀⠀⢧⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⢀⡇⠈⢤⠀⠀⠀⢸⠀⠐⣿⣿⣿⡀⡀⠀⠀⢊⢄⠀⠀⠀⠀⠀⠹⣷⡌⠠⠉⠢⠀⠄⢠⢸⡀⠀⠀⣿⣈⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⢸⡅⠀⢸⠀⠀⠀⠀⡆⡥⣿⣿⣿⣷⡐⢄⠀⠀⠐⡑⠄⠀⠀⠀⠀⢿⣿⡄⠀⠀⠀⠙⠆⢸⠘⢄⠀⢹⠂⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣾⡇⠀⢼⠀⠀⠀⠀⣥⣿⣽⣿⣿⣿⣷⣄⠑⡢⠀⡀⠢⢄⠀⠀⣆⠈⢿⣿⣆⠀⢂⠀⠈⢺⠆⡹⡀⢰⠀⠀⠀⠀⠀⡁⢸⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣽⢧⠀⢺⢨⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣦⡘⢦⡀⠉⠐⠑⠀⢹⣧⡈⢿⣿⣆⠀⠆⠀⠨⠀⠀⢱⢀⠀⠀⠀⠀⠀⠆⠘⠢⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣏⢸⡆⢹⠀⡇⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣹⢆⠀⠀⠀⠀⣿⣿⡎⣿⣿⡆⡶⠀⠀⠀⠀⠀⢾⠀⠀⠀⠀⠀⣾⢰⠁⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣼⠀⡇⢸⢧⠈⢆⠀⡄⠘⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠉⠑⠠⢀⠀⠡⡉⠉⠪⠏⡛⣤⠀⡋⠀⠀⠀⢘⠀⠀⠀⠀⠀⡟⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⢹⡂⢹⡆⣿⡂⠈⠣⡐⣄⠸⣿⣿⣿⡿⠛⠉⢠⠆⠀⠑⠀⠀⠀⠁⠐⠢⠀⠀⠈⡇⢸⢰⠁⢠⢂⠀⠘⠀⠀⠀⠀⡰⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⢸⠘⡎⠜⠄⠀⠙⢮⡳⣼⢟⡁⠀⠀⠀⠈⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠇⠀⡎⣐⠂⢠⠀⡌⠀⠂⢀⡠⠁⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⠈⣇⠈⢂⠑⠄⠀⠘⡻⡓⠢⠉⠀⠀⠀⠀⣀⠄⣀⡀⠀⠀⠀⠀⠀⠀⠀⣰⠃⡼⡐⣜⢢⠩⡐⠀⠀⡠⠕⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣇⢿⣆⠈⡂⠈⢢⡀⠱⡈⠢⡀⠀⠀⠀⠲⢮⣭⣧⠬⠐⠀⠀⠀⠀⡠⢈⠇⠸⠕⣐⡀⠀⡓⠁⠂⠎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡾⡌⠲⣔⠄⠀⠰⣦⡳⡀⠈⠢⣄⠀⠀⠀⠀⠀⠀⠀⠂⢀⣼⠊⢠⠐⠢⠎⢐⢀⠇⡜⣡⠂⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⢠⣀⠀⠀⠘⢗⠀⠈⠳⣄⠀⠐⢌⠓⣄⠀⢀⣽⣦⣀⠀⠀⣀⡠⢖⠙⠈⠀⠁⡐⠁⣠⠀⣈⡬⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠈⠊⠤⠀⠈⠑⠤⡈⢿⣼⣗⣌⢿⣿⣶⣭⣦⣥⣘⣊⣠⣤⣶⠟⣀⣶⣧⡾⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣻⣏⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣾⣏⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⣰⡲⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢄⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⡽⣿⣿⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⢀⡄⡀⣠⡧⣤⣴⣾⣶⣶⣶⣶⣶⣧⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣯⣾⣿⣿⣿⣿⢷⣦⣤⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⢄⡰⠃⠁⣬⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻⣿⣿⣿⣟⡾⣽⣿⢿⣿⣿⣿⢻⣻⣟⣶⣦⣤⣀⠀⠀
            ⠀⠀⠀⠀⠀⠠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣻⣽⣿⣷⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⡿⣟⣿⣻⢷⡿⣾⣽⣻⣿⣧⠀
            ⠀⠀⠀⠀⡤⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣟⣿⡾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡽⣾⣽⣚⡷⣝⢶⡛⣿⣿⣗ */