/*
        ⠀⠀⠀⠀⠀⠀⠀⠀⣴⢦⠀⠀⣠⠴⠒⠛⢋⣠⠴⢝⠒⠤⢄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⢹⠈⣶⠏⠀⢠⡴⠞⡉⠀⢀⡠⠷⠤⢀⣀⠈⠑⠲⢤⡀⢠⢶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠘⣇⠘⡄⢀⣿⢀⠎⢠⠔⠉⠀⠀⠀⠀⠀⠉⠙⠲⢤⣹⣏⡎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⢠⠏⢹⣀⣸⢾⣿⣨⢠⠃⠀⠀⠀⠀⠀⠈⢣⠀⢢⡀⠀⠙⣟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⢀⡏⠀⣞⢹⣇⠈⡸⣿⣿⠀⠀⣠⠀⠀⠀⠀⠀⡇⠀⢱⠀⠀⢸⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⡜⠀⠀⣿⠘⣿⡄⣷⣿⣿⣤⡀⡇⢀⣿⢀⣠⢶⣧⣴⣿⣢⠄⣸⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⢰⠃⠀⠀⢿⣇⠿⣧⣼⣿⠙⡟⢻⢿⣿⣿⣽⡵⠛⠋⠙⠛⣿⣿⡟⠧⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⡞⠀⠀⢠⠈⣇⢀⣇⠘⡿⠀⣇⣿⣿⣿⣿⣿⠛⠂⠀⢰⣿⣿⡿⡏⠒⢤⡈⠓⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⡇⠀⠀⡜⠀⠸⡟⠯⠼⡇⢀⣧⣄⣻⠛⠋⠉⠀⠀⠀⠉⠛⢻⣧⠙⣤⠴⢛⠒⠒⠛⠒⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⢠⡇⡇⢀⣣⠀⠀⢹⣦⠔⠁⢸⠙⠛⠋⣁⡀⠀⠀⠀⠀⡀⠀⣙⡿⠋⣡⠖⢁⡠⠤⠬⢍⣉⣻⡄⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠘⡇⡇⣸⡟⠀⠀⡏⠙⣷⣶⣧⠀⠺⡿⠋⠀⠀⠀⠻⠿⣋⣀⡿⢷⣌⣠⣞⣡⠤⠒⢦⠄⠀⠈⢳⡀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⢹⣹⠃⠀⡜⠀⠀⢹⡈⢻⣧⡀⠀⠀⠐⠒⢺⣿⡟⢫⣿⠀⠠⠀⢏⠈⢣⡀⠀⠀⢱⠀⠀⠈⣇⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⡄⢈⠏⠀⡸⠁⠀⠀⡄⢳⣘⣿⣹⣷⠦⠤⠤⠤⣄⣴⣿⣎⠀⠀⡆⢸⡀⠀⠻⡀⠀⠸⠀⠀⠀⢸⡀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⣴⣡⡾⠀⢠⠇⠀⠀⠀⡆⢸⣿⣿⡿⠉⠀⢀⣤⣤⣀⠉⠻⣿⣄⠀⠑⡌⢷⡀⠀⣙⠦⣄⡀⠀⠀⠀⢷⡀⠀⠀⠀⠀
        ⠀⠀⣠⡾⠋⣿⠁⠀⡜⠀⠀⠀⠀⡇⣸⣿⣿⠁⠀⠀⣸⣿⣋⣹⡇⠀⠈⢻⣿⣦⢸⡄⢣⠀⠘⢒⡾⡆⠀⠀⠀⠸⣿⣦⡀⠀⠀
        ⠀⣴⡟⠁⡜⢸⠀⢠⠃⠀⠀⠀⠰⣵⢿⠃⢸⡀⣀⠀⠈⠉⠈⠉⠀⠀⠀⠀⢻⣿⣿⣧⣾⣆⠀⢼⠻⠿⣀⣀⣀⡤⠿⠛⡇⠀⠀
        ⣸⡟⠀⢰⠁⡞⠀⢸⠀⠀⠀⠀⣼⠏⢸⠀⠀⣿⣍⡉⠉⠒⠦⢤⣀⠀⣀⠤⠞⢙⣍⣿⣿⣿⣍⡻⡆⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀
        ⡇⡇⠀⡇⢸⣧⠀⡆⠀⠀⠀⠀⡏⠀⢸⠀⠀⠘⣷⠀⠈⠉⠐⢢⡬⢉⡤⠒⠊⠉⠉⢿⣬⢿⣳⣍⠓⢦⣤⢤⡤⠴⡒⠛⣇⠀⠀
        ⠉⢷⣸⠀⡟⢸⠀⡇⠀⠀⠀⢰⠁⠀⠘⡇⠀⠀⠹⢷⡀⡀⢀⣿⡾⡁⠀⠀⠓⢄⠀⠀⠙⢷⣄⠈⠠⡀⠘⢦⠘⡀⠘⡄⠸⡄⠀
        ⠀⠀⢹⡇⡇⢸⢻⣿⠀⠀⠀⢸⠀⠀⠀⢧⠀⠀⠀⠀⠉⠳⣾⣿⡇⠈⠢⡀⠀⠀⠑⢄⠀⠀⠙⢷⣄⢳⠀⢸⠀⢃⠀⢸⠀⢷⠀
        ⠀⠀⠀⢻⣧⡘⢇⢻⣦⡀⢸⡀⣷⡀⠀⠈⢧⡀⠀⠀⠀⠀⠈⡟⠻⣧⡀⠈⠳⢄⠀⠀⠁⠆⠀⠀⠙⠻⣄⣸⠃⢸⠀⠀⠀⠘⡇
        ⠀⠀⠀⠀⢻⣷⠈⢆⠻⣿⢦⣣⠘⡌⠢⡀⠀⠻⣦⡀⠀⢀⡞⠀⠀⠀⠉⠲⢄⠀⠑⠤⢀⡀⠀⠈⠒⢤⡈⢿⣤⣸⠀⠀⠀⠀⢳
        ⠀⠀⠀⠀⠀⢻⠀⠀⠑⢮⡛⢿⣧⡈⠀⠄⠉⠒⢼⣿⣦⣸⠁⠀⠀⠀⠀⠀⠀⠙⠢⣄⠀⠈⠑⢄⠀⠀⠑⠄⠙⠿⣄⠀⠀⠀⢸
        ⠀⠀⠀⠀⠀⡾⠀⠀⠀⠀⠹⡔⢿⡩⡦⡄⠀⠀⠀⢻⣾⠻⣦⡀⠀⠀⠀⠀⠀⠀⡞⢻⠗⢦⡀⠀⠳⡀⠀⠀⢀⡀⠈⠻⣄⢀⡇
        ⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠹⠈⡟⠞⢌⠢⠀⠀⠀⢿⡆⠈⠻⣷⣄⣀⡀⠀⢰⣇⣾⠀⠀⠙⣶⣀⠙⠦⣤⠀⠉⠒⢄⠈⣻⣄ */

body{
    background-color: #eb4293;
}

.divmestra img{
    margin-top: -24%;
    margin-left: 45%;
}

.resultado{
    background-color: white;
    border: 2px solid black;
    padding-top: 64px;
    padding-left: 30px;
    margin: 50px;
    width: 500px;
    height: 200px;
}

.if{
    font-size: 26px;
    color: green;
}

.else{
    font-size: 26px;
    color: red;
}

/*
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠠⢈⣀⣤⣴⣶⣶⣶⣶⣦⣤⣄⣀⡀⠀⠀⠀⠀⠰⠠⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠄⣀⣴⠾⠿⠛⠛⠛⠙⠋⠛⠛⠻⠿⠿⣿⣿⢷⡦⣅⠐⠀⠀⠈⠐⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡴⠕⠊⠉⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⢝⣧⢛⠦⣄⠀⠀⠀⠑⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⠋⠁⠀⠠⠀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢺⣽⣞⡷⣄⠀⠁⠀⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡔⠁⠀⠀⠀⠀⠰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠈⠀⠀⠀⠀⠘⢿⣿⣿⣧⠀⠀⠀⠘⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠎⠀⠀⠀⠀⢀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣆⠀⠀⠀⠙⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⠈⡎⠀⠐⠀⡀⡰⢁⠐⠱⡀⠠⠀⠀⠁⠄⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⣿⡖⡀⠀⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⢀⠐⡀⠄⢀⠆⠀⠀⣿⠐⠀⠁⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣷⠐⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀
            ⠉⠀⠀⠀⠀⠀⠀⠀⠀⠠⠗⡀⠆⠀⠀⢸⠀⠀⣼⣾⡀⠀⠂⢂⠀⠀⠀⠀⠀⡐⠢⢀⠀⡀⠈⠠⡀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡌⠀⠀⠀⠘⡀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⡾⠀⢱⠀⠀⠀⢸⠀⠀⣿⣿⣇⠀⠀⠉⢤⡀⠀⠀⠀⠀⠀⠀⣿⡔⡠⢀⠀⠀⡀⠀⠐⠆⠀⠀⢸⡜⠅⠀⠀⠀⠀⢧⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⢀⡇⠈⢤⠀⠀⠀⢸⠀⠐⣿⣿⣿⡀⡀⠀⠀⢊⢄⠀⠀⠀⠀⠀⠹⣷⡌⠠⠉⠢⠀⠄⢠⢸⡀⠀⠀⣿⣈⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⢸⡅⠀⢸⠀⠀⠀⠀⡆⡥⣿⣿⣿⣷⡐⢄⠀⠀⠐⡑⠄⠀⠀⠀⠀⢿⣿⡄⠀⠀⠀⠙⠆⢸⠘⢄⠀⢹⠂⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣾⡇⠀⢼⠀⠀⠀⠀⣥⣿⣽⣿⣿⣿⣷⣄⠑⡢⠀⡀⠢⢄⠀⠀⣆⠈⢿⣿⣆⠀⢂⠀⠈⢺⠆⡹⡀⢰⠀⠀⠀⠀⠀⡁⢸⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣽⢧⠀⢺⢨⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣦⡘⢦⡀⠉⠐⠑⠀⢹⣧⡈⢿⣿⣆⠀⠆⠀⠨⠀⠀⢱⢀⠀⠀⠀⠀⠀⠆⠘⠢⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣏⢸⡆⢹⠀⡇⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣹⢆⠀⠀⠀⠀⣿⣿⡎⣿⣿⡆⡶⠀⠀⠀⠀⠀⢾⠀⠀⠀⠀⠀⣾⢰⠁⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⣼⠀⡇⢸⢧⠈⢆⠀⡄⠘⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠉⠑⠠⢀⠀⠡⡉⠉⠪⠏⡛⣤⠀⡋⠀⠀⠀⢘⠀⠀⠀⠀⠀⡟⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⢹⡂⢹⡆⣿⡂⠈⠣⡐⣄⠸⣿⣿⣿⡿⠛⠉⢠⠆⠀⠑⠀⠀⠀⠁⠐⠢⠀⠀⠈⡇⢸⢰⠁⢠⢂⠀⠘⠀⠀⠀⠀⡰⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⢸⠘⡎⠜⠄⠀⠙⢮⡳⣼⢟⡁⠀⠀⠀⠈⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠇⠀⡎⣐⠂⢠⠀⡌⠀⠂⢀⡠⠁⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⠈⣇⠈⢂⠑⠄⠀⠘⡻⡓⠢⠉⠀⠀⠀⠀⣀⠄⣀⡀⠀⠀⠀⠀⠀⠀⠀⣰⠃⡼⡐⣜⢢⠩⡐⠀⠀⡠⠕⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣇⢿⣆⠈⡂⠈⢢⡀⠱⡈⠢⡀⠀⠀⠀⠲⢮⣭⣧⠬⠐⠀⠀⠀⠀⡠⢈⠇⠸⠕⣐⡀⠀⡓⠁⠂⠎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡾⡌⠲⣔⠄⠀⠰⣦⡳⡀⠈⠢⣄⠀⠀⠀⠀⠀⠀⠀⠂⢀⣼⠊⢠⠐⠢⠎⢐⢀⠇⡜⣡⠂⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⢠⣀⠀⠀⠘⢗⠀⠈⠳⣄⠀⠐⢌⠓⣄⠀⢀⣽⣦⣀⠀⠀⣀⡠⢖⠙⠈⠀⠁⡐⠁⣠⠀⣈⡬⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠈⠊⠤⠀⠈⠑⠤⡈⢿⣼⣗⣌⢿⣿⣶⣭⣦⣥⣘⣊⣠⣤⣶⠟⣀⣶⣧⡾⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣻⣏⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣾⣏⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⣰⡲⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢄⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⡽⣿⣿⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⢀⡄⡀⣠⡧⣤⣴⣾⣶⣶⣶⣶⣶⣧⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣯⣾⣿⣿⣿⣿⢷⣦⣤⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⢄⡰⠃⠁⣬⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻⣿⣿⣿⣟⡾⣽⣿⢿⣿⣿⣿⢻⣻⣟⣶⣦⣤⣀⠀⠀
            ⠀⠀⠀⠀⠀⠠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣻⣽⣿⣷⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⡿⣟⣿⣻⢷⡿⣾⣽⣻⣿⣧⠀
            ⠀⠀⠀⠀⡤⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣟⣿⡾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡽⣾⣽⣚⡷⣝⢶⡛⣿⣿⣗ */